@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css");
html, body {
  font-family: Arial, sans-serif;
  color: #0A1612; }

.container {
  width: 80%;
  margin: 40px auto; }
  .container h1 {
    text-align: center;
    margin-bottom: 30px; }

.form input {
  /*width:300px;  */ }

.table a {
  color: #1A2930; }
  .table a:hover {
    color: #00bcd4; }

.table svg {
  color: #1A2930 !important; }
  .table svg:hover {
    cursor: pointer;
    color: #00bcd4 !important; }
